@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.font-heading {
  font-family: 'Alex Brush', cursive;
  @apply text-[#797a6c];
}

.font-body {
  font-family: 'Lora', serif;
}

.text-dark {
  @apply text-[#797a6c];
}

body {
  font-family: 'Lora', serif;
  @apply text-[#797a6c];
}

p {
  @apply text-sm;
}

@keyframes homeLeafAnimation {
  from {
    transform: rotate(60deg);
  }

  to {
    transform: rotate(40deg);
  }
}

.home-leaf-animate {
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-name: homeLeafAnimation;
}

@keyframes couplePhotoAnimation {
  from {
    transform: rotate(3deg);
  }

  to {
    transform: rotate(-3deg);
  }
}

.couple-photo-animate {
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-name: couplePhotoAnimation;
}